span { 
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
}

body{
    font-family: sans-serif;
}

.InputForm{
    border: solid 1px black;
    display:flex;
    flex-direction: column;
    padding: 1rem;
}
.inputRow{
    display:flex;
    margin: 0.5rem 0;
}

label{
    flex:1;
}

input{
    flex:2;   
}

button{
    width: 3rem;
}

#NumVIP{
    background-color:black;
    color: white;
    width: 100%;
    border-radius: 5px;
    height: 2rem;
}

#customersContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card{
    display:flex;
    align-items: center;
}
.card h3{
    flex: 5;
}
.destroy{
    flex: 1;
}

.VIP{
    background-color: dodgerblue;
    color:white;
}